.error__page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: aliceblue;
  font-size: 5rem;
}
.error__page img {
  border-radius: 100px;
}
