.header__section {
  background-color: aqua;
  text-decoration: none !important;
}
.logo {
  background-color: rgb(0, 166, 255);
  border-radius: 10px;
  padding: 0 10px;
}
.header__link {
  text-decoration: none;
  gap: 30px;
  padding: 10px;
  color: aliceblue;
}
.header__link:hover {
  background-color: rgb(0, 166, 255);
}
